<div class="row compatibility-footer text-center margin-bottom-60">
  <div class="col-sm-8 col-sm-offset-4">
    <h2 class="text-primary margin-bottom-20">Get Listed</h2>
    <p class="margin-bottom-30">Find out how to get your product listed on the Compatible Products page</p>
    <p><a class="btn btn-primary btn-lg" href="/compatibility/get-listed/">Get Listed With Us</a></p>
  </div>

  <div class="col-sm-8 col-sm-offset-1">
    <h2 class="text-primary margin-bottom-20">Compatibility Requests</h2>
    <p class="margin-bottom-30">File a Certification Request with a specification project in the GitHub repository</p>
    <p><a class="btn btn-primary btn-lg" href="https://github.com/eclipse/sparkplug/issues"
        target="_blank">Compatibility Request</a></p>
  </div>
</div>
