{{ $active := .Get "active" }}

<div class="row">
  <div class="col-md-8 text-center">
    <img class="compatible-logo img" src="/images/sparkplug/sparkplug-compatible-logo.png"
      title="Sparkplug compatible logo">
  </div>
  <div class="col-md-16">
    <p>
      The goal of Eclipse Sparkplug is to make MQTT-based infrastructure interoperable. Products bearing the “Sparkplug
      Compatible” label fully implement the Sparkplug specification and provide the highest level of compatibility.
    </p>
    <p>
      End users can choose the products listed below with confidence, as they all carry the “Sparkplug Compatible” logo.
    </p>
    <p>
      If you are a technology provider, getting your products listed showcases your commitment to Sparkplug and makes
      you
      a participant in a thriving marketplace. If you are interested in featuring your product here, follow the steps on
      the <a href="/compatibility/get-listed">Get Listed</a> page.
    </p>
  </div>
</div>

<div class="row margin-top-20 content-nav-tab-toggle">
  <div class="visible-xs">
    <div class="vertical-align">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-member-levels">
        <p class="nav-label"><strong>Compatible Products</strong></p>
        <div class="hamburger-wrapper">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </div>
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-24">

    <div class="navbar-headings">
      <h2 {{ if eq $active "software" }} class="active" {{ end }}><a class="background-grey" href="/compatibility/compatible-software/">
          Sparkplug Compatible Software
        </a></h2>
      <h2 {{ if eq $active "hardware" }} class="active" {{ end }}><a class="background-grey"
          href="/compatibility/compatible-hardware">
          Sparkplug Compatible Hardware
        </a></h2>
    </div>
  </div>
</div>
