<div class="row blue-row margin-top-60">
  <div class="container flex-center">
    <div class="step-container">
      <img src="{{ "/images/icons/qualify.png" | absURL }}" alt="Qualify icon">
      <h2>1-Qualify</h2>
      <p class="match-height-item">Download, run and pass the TCK</p>
    </div>
    <div class="step-container">
      <img src="{{ "/images/icons/join.png" | absURL }}" alt="Join icon">
      <h2>2-Join</h2>
      <p class="match-height-item">Become a member</p>
    </div>
    <div class="step-container">
      <img src="{{ "/images/icons/agreement.png" | absURL }}" alt="Agreement icon">
      <h2>3-Agree</h2>
      <p class="match-height-item">Execute the agreement</p>
    </div>
    <div class="step-container">
      <img src="{{ "/images/icons/request.png" | absURL }}" alt="Request icon">
      <h2>4-Request</h2>
      <p class="match-height-item">File a &quot;Get Listed&quot; request</p>
    </div>
    <div class="step-container">
      <img src="{{ "/images/icons/promote.png" | absURL }}" alt="Promote icon">
      <h2>5-Promote</h2>
      <p class="match-height-item">Promote your product</p>
    </div>
  </div>
</div>
